.content.col-layout--2.pt-2
  .col--1
    .col-content
      h3 Nous contacter
      br
      p Association Raspatakouet
        br
        a.text(href='mailto:raspatakouet@gmail.com') raspatakouet@gmail.com
        br
        span 06 85 90 01 02
  .col--1
    .col-content
      h3 Suivez nous !
      br
      p
        a.text(href='https://www.facebook.com/cemurmure', target='_blank') Facebook
      br
      p
        a.text(href='https://www.instagram.com/raspatakouet', target='_blank') Instagram
  .col--1
    .col-content.pt-0
      small &copy; Raspatakouet 2019
      br
      small Original design :&nbsp;
        a.text(href='http://maison-solide.fr/', target='_blank') Solide
      br
      small Graphisme Affiche et Flyer :&nbsp; Eric Viard
      br
      small Dev :&nbsp;
        a.text(href='http://francoisrisoud.com/', target='_blank') François Risoud