extends layout

block content
  nav.orange--bg.blue--text
    include includes/nav-content.pug

  section.red--bg.white--text
    .content.col-layout--2.py-16
      .col--1
        .col-content
          h2.pink--text VENIR
          h4.big.mt-7 PARC DES QUINCONCES
            br
            | et Esplanade René Cassin
            br
            | 11, rue des quinconces,
            br
            | 21140 Semur-en-Auxois
            br
            br
            | Bus
            br
            | ligne 49 arrêt quinconces
            br
            br
            | Train (Gare SNCF)
            br
            | Les Laumes-Alésia (16km)
            br
            | ou Montbard (18km)
            br
            | puis Bus ligne 49

      .col--1
        .col-content
          h2.pink--text DORMIR
          h4.big.mt-7 Camping Gratuit !
            br
            | Il se situe à quelques pas :  au Chemin des Enlerys à Semur.
            br
            br
            | Comme on n’est pas non plus complètement perdu, il y a aussi  des hotels, AirBnb...
          br
          br
          br
          h2.pink--text SE GARER
          h4.big.mt-7 C'est Gratuit !
            br
            | Mais venez à vélo plutôt et voyez comme la Bourgogne est belle 🚲

  section.blue--bg.white--text
    .content.col-layout--2
      .col--1
        .col-content.py-7.mb-2
          h2.orange--text LES HORAIRES
          h4.big.mt-7 Vendredi 23 août : 18h - 2h
            br
            | Samedi 24 août : 14h - 2h
            br
            br
            | Camping
            br
            | Ouverture des portes vendredi 25 août à midi et fermeture dimanche 26 août à 16h.
      .col--1
        .col-content.py-7.mb-2
          h2.orange--text LE PRIX
          h4.big.mt-7 6€ pour 1 jour
            br
            | 10€ pass 2 jours
            br
            br
            | Gratuit pour les –12 ans
            br
            br
            | Entrées vendues sur place

  section.green--bg.white--text
    .content.col-layout--1
      .col--1
        a(href='https://docs.google.com/forms/d/e/1FAIpQLSfWtAc4EB3LWt_JVMf7H4eyaoePj9iGDW4TgfP3cUBr_5B7yA/viewform?fbclid=IwAR3e88Le2GMqhxCoqkiMyf1fpnk6B-MQ7oEIpaHXeAdwWZ6tQw28ybD62WVM', target='_blank')
          .col-content.flex--col.v-sized--content
            h4.big.center--text DEVENEZ
            .benevole
              include ../assets/typos/benevole.svg

  section.pink--bg
    .content.col-layout--1
      .col--1
        .col-content.py-7.mb-2
          h2.blue--text QUELQUES RÈGLES POUR RESTER MIGNON
          h3.red--text.mt-1 ET QU’ON PUISSE RECOMMENCER L’ANNÉE PROCHAINE
          h5.blue--text.v2.pt-10 Quels sont les objets interdits sur le festival ?
            br
            | Pour le confort de tous : L’introduction d’alcool, et autres contenants (gourdes, verres, bouteilles etc.)
            br
            br
            | Pour la sécurité de chacun : Aucun objet dangereux (objets tranchants, armes, articles de pyrotechnie et d’une manière générale tout objet susceptible de présenter un danger pour le public). Les armes et autres substances explosives, inflammables ou volatiles Les animaux sont interdits sur le festival.
            br
            br
            | Rappel de la législation française : La législation française prohibe tout commerce, consommation, et possession de substances illicites.
            br
            br
            | Les feux de camps et barbecues sur pieds sont-ils autorisés ?
            br
            | Par question de sécurité, les feux de camps et barbecues sont strictement interdits.
            br
            br
            | Le camping est-il surveillé ?
            br
            | Une équipe de sécurité se trouve à votre disposition. Cependant, il vous est demandé de ne pas laisser vos effets personnels de valeur dans votre tente.
