// colors

$red = #86382E
$pink = #F5A48C
$blue = #6D1513
$green = #2FA666
$orange = #F5A568
$white = #FFFFFF

$colors := {
  red: $red,
  pink: $pink,
  blue: $blue,
  green: $green,
  orange: $orange,
  white: $white,
}

// default spacing

$space = 7px