@import 'global/fonts.styl'
@import 'global/mixins.styl'
@import 'global/variables.styl'
@import 'global/generic.styl'
@import 'global/layout.styl'

// galerie
.galleria
  background #000

.galleria-theme-classic .galleria-stage
  top 0
  left 0
  right 0
  bottom 0